<div class="profile-box">
  <div class="profile-box-inner">
<p class="sign-out"><%= link_to "top", root_path %></p>

<%= form_with(model: @profile, local: true) do |f| %>
  <%# <%= render "devise/shared/error_messages", resource: resource %>
   <h1>プロフィール登録</h1>

  <div class="box-profile">
    <%= f.label :family_name, "姓" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family-name" %>
  </div>

  <div class="box-profile">
    <%= f.label :first_name, "名" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :first_name, autocomplete: "given-name" %>
  </div>

  <div class="box-profile">
    <%= f.label :family_name_prono, "姓カナ" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :family_name_prono %>
  </div>

  <div class="box-profile">
    <%= f.label :first_name_prono, "名カナ" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :first_name_prono %>
  </div>


  <div class="box-profile">
    <%= f.label :postal_code, "郵便番号[-(ハイフン)必要です]" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :postal_code, autocomplete: "postal-code" %>
  </div>

  <div class="box-profile">
    <%= f.label :prefecture_id, "都道府県" %>
    <span class="indispensable">必須</span><br />
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture_id, {}, {class:"select-box", id:"item-prefecture"}) %>
  </div>

  <div class="box-profile">
    <%= f.label :address, "市区町村" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :address, autocomplete: "address-level2" %>
  </div>

  <div class="box-profile">
    <%= f.label :street, "番地" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :street, autocomplete: "address-level3" %>
  </div>

  <div class="box-profile">
    <%= f.label :building, "建物名" %><br />
    <%= f.text_field :building %>
  </div>

    <div class="box-profile">
    <%= f.label :phone_number, "電話番号" %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "tel-national" %>
  </div>

<div class="box-profile">
  <%= f.label :birthday, "生年月日" %>
    <span class="indispensable">必須</span>
  <%= raw sprintf(
            f.date_select(
              :birthday,
              class: 'select-birth',
              id:"birth_date",
              use_month_numbers: true,
              start_year: 1930,
              end_year: (Time.now.year - 5),
              default: Date.new(2000, 1, 1),
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>
</div>

  <div class="box-profile">
    <%= f.label :sex, '性別' %>
    <span class="indispensable">必須</span>
    <%= f.select :sex, {'男性': 1, '女性': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>

    <div class="box-profile">
    <%= f.label :body_weight, "体重(単位：kg)" %>
    <span class="indispensable">必須</span>
    <%= f.text_field :body_weight %>
  </div>

      <div class="box-login">
        <%= f.submit "プロフィール登録" %>
    </div>
<% end %>

<%# <%= render "devise/shared/links" %>
  </div>
</div>