<div class="cooked-food-box">
  <p class="back-to-top"><%= link_to "top", root_path %></p>
    <div class="cooked-food-frame">
      <%= form_with(model: @shop, local: true) do |f| %>
      <%= f.label :meal_date, "食事日" %>
      <span class="indispensable-cooked">[２]</span>
        <%= raw sprintf(
              f.date_select(
                :meal_date,
                class: 'select-meal-day',
                id:"meal_date",
                use_month_numbers: true,
                start_year: (Time.now.year-1),
                end_year: (Time.now.year),
                default: Date.today,
                date_separator: '%s'),
              '年 ', '月 ') + '日' %>
    

          <div class="meal-time">
            <%= f.label :meal_time, "食事時間" %>
            <span class="indispensable-cooked">[３]</span>
            <%= f.collection_select(:meal_time_id, MealTime.all, :id, :meal_time_id, {}, {class:"select-box", id:"item-meal-time"}) %>
          </div>
  
        <div class="indispensable-cooked-food"><p><span class="indispensable-cooked">[4]</span>登録で始める</p></div>

    <div class="cooked-food-field">
      <%= f.check_box :check1, id:"check1"  %>
      <%= f.label :check1, "成分表示（100gあたりの場合）" %>
    </div>

    <div class="cooked-food-field">
      <p><%= f.label :ganre, 'ジャンル' %></p>
      <%= f.select :ganre, {'コンビニ': 1, 'お弁当屋': 2, 'ファストフード': 3, 'スーパー': 4, 'ラーメン':5, '中華':6, '洋食':7, '和食':8, 'その他':9}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>

      <div class="cooked-food-field">
        <%= f.label :shop_name, "店名" %><br>
        <%= f.text_field :shop_name, autofocus: true %>
      </div>

      <div class="cooked-food-field">
        <%= f.label :dish_name, "料理名・食品名" %><br>
        <%= f.text_field :dish_name %>
      </div>

      <div class="cooked-food-field">
        <%= f.label :price, "購入金額" %><br>
        <%= f.text_field :price %><span>円（税込）</span>
      </div>

      <div class="cooked-food-field">
        <%= f.label :meal_quantity, "内容量（重さなど）" %><br>
        <%= f.text_field :meal_quantity, id:"meal-quantity" %><span>g[ml]</span>
      </div>

      <div class="cooked-food-field">
        <%= f.label :calorie, "エネルギー" %><br>
        <%= f.text_field :calorie, id:"calorie" %><span>kcal</span>
      </div>

      <div class="cooked-food-field">
        <%= f.label :protein, "タンパク質" %><br>
        <%= f.text_field :protein, id:"protein" %><span>g</span>
      </div>
<%# 変更 %>
      <div class="cooked-food-field">
          <span>炭水化物</span>
          <span>
            <span id='carbohydrate'></span>g
          </span>
      </div>

      <div class="cooked-food-field">
        <%= f.label :lipid, "脂質" %><br>
        <%= f.text_field :lipid, id:"lipid" %><span>g</span>
      </div>

      <div class="cooked-food-field">
          <span>糖質</span>
          <span>
            <span id='sugar-content'></span>g
          </span>
      </div>

      <div class="cooked-food-field">
        <%= f.label :fiber, "食物繊維" %><br>
        <%= f.text_field :fiber, id:"fiber" %><span>g</span>
      </div>

      <div class="cooked-food-field">
        <%= f.label :salt, "塩分相当量" %><br>
        <%= f.text_field :salt %><span>g</span>
      </div>
      <div class="cooked-food-regist">
        <%= f.submit "登録" %>
      </div>
      <% end %>
    </div>
</div>